@(trainings: List[models.Training], page: String, isLoggedIn: Boolean, User: User, viewDates: List[ViewDate])

@shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/teacher.css")">
    <script src="@routes.Assets.at("/javascripts/showDiv.js")"></script>
    <div class="container">
        <div class="row">
            <div class=" row col-lg-12">
                <div class="col-lg-2 offset-lg-5">
                    <a><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></a>
                    <label class="switch toggle" id="calSwitch">
                        <input type="checkbox" onclick="showDiv()">
                        <span class="slider round"> </span>
                    </label>
                    <a><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a>
                </div>

            </div>
            <div class="row col-lg-12" id="listDiv">
                <div class="col-lg-2">
                    <label>Categorie</label>
                </div>
                <div class="col-lg-2">
                    <label>Training</label>
                </div>
                <div class="col-lg-2">
                    <label>Trainingscode</label>
                </div>
                <div class="col-lg-2">
                    <label>Locatie</label>
                </div>
                <div class="col-lg-2">
                    <label>Datum</label>
                </div>
                <div class="col-lg-2">
                    <label>Aantal inschrijvingen</label>
                </div>
            </div>
            <br/>
            <div class="row col-lg-12" id="calenderDiv" style="display: none;">
                <div class="col-lg-4 offset-lg-4">
                    <input type="date" class="form-control"/>
                </div>
            </div>
            @if(!trainings.isEmpty) {
                @for(training <- trainings) {
                    <div> class="col-lg-2>
                        <p>@training.getCategory()</p>
                    </div>
                    <div class="col-lg-2">
                        <p>@training.getName()</p>
                    </div>
                    <div class="col-lg-2">
                        <p>@training.getTrainingCode()</p>
                    </div>
                    <div class="col-lg-2">
                        <p>@training.getDateIDs()</p>
                    </div>
                    <div class="col-lg-2">
                        <p></p>
                    </div>
                    <div class="col-lg-2">
                        <p>@training.getCapacity()</p>
                    </div>
                }
            } else {
                <div class="col-lg-4 offset-lg-4 label"><p>Geen trainingen beschikbaar</p></div>
            }
        </div>
    </div>
}

