@import models.view.ViewTraining
@import models.storage.User
@import com.fasterxml.jackson.databind.JsonNode
@(trainings: List[ViewTraining], page: String, isLoggedIn: Boolean, User: User, date: JsonNode)

@shared.main(page, isLoggedIn, User) {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/teacher.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fullcalendar.css")">
        <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
        <script src="@routes.Assets.at("/javascripts/showDiv.js")"></script>
        <script src="@routes.Assets.at("/javascripts/fullcalendar.js")"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
        <script src="@routes.Assets.at("javascripts/customCalendar.js")"></script>
    </head>

    <script>
        passDates("@date");
    </script>

    <div id="eventContent" title="Event Details" style="display: none;">
        Start: <span id="startTime"></span><br>
        End: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    </div>


    <div class="container">
        <div class="row">
        @if(!trainings.isEmpty) {
            <div class=" row col-lg-12">
                <div class="col-lg-9">
                    <h1>Rooster</h1>
                </div>
                <div class="col-lg-3">
                    <a><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></a>
                    <label class="switch toggle" id="calSwitch">
                        <input type="checkbox" onclick="showDiv()">
                        <span class="slider round"> </span>
                    </label>
                    <a><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="row col-lg-12" id="listDiv">
                <div class="row col-lg-12" id="listDivTitle">
                    <div class="col-lg-2">
                        <label>Categorie</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Training</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Trainingscode</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Locatie</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Datum</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Inschrijvingen</label>
                    </div>
                </div>
                @for(training <- trainings) {
                    <div class="row col-lg-12" id="listviewrow">
                        <div class="col-lg-2">
                            <p>@training.getCategory().getCategory()</p>
                        </div>
                        <div class="col-lg-2">
                            <p><a href="@routes.TrainingController.overview()">@training.getTraining().getName()</a></p>
                        </div>
                        <div class="col-lg-2">
                            <p>@training.getTraining().getTrainingCode()</p>
                        </div>
                        <div class="col-lg-2">
                            <div class="row" id="listviewrowstreet">
                                <p>@training.getDate().getLocation().getRoom()</p>
                            </div>
                            <div class="row" id="listviewrowstreet">
                                <p>@training.getDate().getLocation().getStreetName() @training.getDate().getLocation().getStreetNumber()</p>
                            </div>
                            <div class="row" id="listviewrowstreet">
                                <p>
                                @training.getDate().getLocation().getCity() <p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p>@training.getDate().getDateOnlyString(), @training.getDate.getTmeOnlyString() uur <p>
                        </div>
                        <div class="col-lg-2">
                        @if(training.getDate().getTrainees().isEmpty()) {
                            <p>Geen inschrijvingen.</p>
                        } else {
                            <p>@(training.getDate().getTrainees().size() + "/" + training.getTraining().getCapacity()) <a href="@routes.TrainingController.teacherStudentOverview(training.getDate().getDateId())">inschrijvingen</a></p>
                        }

                        </div>
                    </div>
                }
            </div>

            <div class="row col-lg-12" id="calenderDiv" style="display: none;">
                <div class="col-lg-10 offset-1">
                    <div id="calendar"></div>
                </div>
            </div>

        } else {
            <div class="col-lg-4 offset-lg-4 label"><p>U heeft momenteel geen trainingen.</p></div>
        }
        </div>
    </div>
}

