@import models.view.ViewTraining
@import models.storage.User
@import models.storage.DateTime
@(training: ViewTraining, page: String, isLoggedIn: Boolean, User: User, trainees: List[User])

@shared.main(page, isLoggedIn, User) {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/teacher.css")">
        <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    </head>
    <div class="container">
        <div class="row">
        @if(training != null) {
            <div class=" row col-lg-12">
                <div class="col-lg-9">
                    <h1>Inschrijvingen: @training.getTraining().getName()</h1>
                </div>
                <div class="col-lg-3">
                    <h3>@(training.getDate().getTrainees().size() + "/" + training.getTraining().getCapacity()) inschrijvingen</h3>
                </div>
            </div>
            <div class="row col-lg-12" id="listDiv">
                <div class="row col-lg-12" id="listDivTitle">
                    <div class="col-lg-3">
                        <label>Naam</label>
                    </div>
                    <div class="col-lg-3">
                        <label>Adres</label>
                    </div>
                    <div class="col-lg-3">
                        <label>Telefoonnummer</label>
                    </div>
                    <div class="col-lg-3">
                        <label>E-mail adres</label>
                    </div>
                </div>
                @for(trainee <- trainees){
                    <div class="row col-lg-12" id="listviewrow">
                        <div class="col-lg-3">
                            <label>@trainee.getFirstName()  @trainee.getLastName()</label>
                        </div>
                        <div class="col-lg-3">
                            <label>-</label>
                        </div>
                        <div class="col-lg-3">
                            <label>@trainee.getPhoneNumber()</label>
                        </div>
                        <div class="col-lg-3">
                            <label>@trainee.getEmail()</label>
                        </div>
                    </div>
                }

        } else {
            <div class="row col-lg-12">
                <p> Geen inschrijvingen gevonden.</p>
            </div>
        }
        </div>
    </div>
}