@import models.view.ViewTraining
@import models.storage.User
@import com.fasterxml.jackson.databind.JsonNode
@(trainings: List[ViewTraining], page: String, isLoggedIn: Boolean, User: User, dates: JsonNode)

@shared.main(page, isLoggedIn, User) {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/teacher.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fullcalendar.css")">
        <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
        <script src="@routes.Assets.at("/javascripts/showDiv.js")"></script>
        <script src="@routes.Assets.at("/javascripts/fullcalendar.js")"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    </head>

    <script>
            function unescapeHTML(string) {
                var elt = document.createElement("span");
                elt.innerHTML = string;
                return elt.innerText;
            }

            // Create object array from the JsonNode.
            var dateJson = "@dates";
            dateJson = JSON.parse(unescapeHTML(dateJson));
            //console.log(JSON.stringify(dateJson, null , 4));

            var events = [];

            // Loop through the elements in the object array and create events.
            // For events see : https://fullcalendar.io/docs/event_data/Event_Object/
            function getElements(start, end, timezone, callback) {
                events = [];
                $.each(dateJson, function (index, element) {
                    // Create date according to ISO 8601 standard.
                    // See: https://en.wikipedia.org/wiki/ISO_8601
                    var startDate = new Date(element.date.date);
                    console.log(startDate);
                    console.log(element.date.duration);
                    var endDate = new Date(element.date.date);

                    // Add the duration to find the end date.
                    endDate.setDate(startDate.getDate() + parseInt(element.date.duration));
                    console.log(endDate);
                    // Set all event properties and push it to the calendar.
                    events.push({
                        title: element.training.name,
                        start: startDate,
                        end: endDate,
                        description : element.training.description
                    });
                });
                // Callback to the calendar.
                callback(events);
            }

            function deleteEvents() {
                $("#calendar").fullCalendar('removeEvents');
            }

            $(document).ready(function () {
                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    // Event that fires on an event click.
                    // For more information on the event see:
                    eventRender: function (event, element) {
                        element.qtip({
                            content: event.title + "<br><br>" + " From: " + event.start.format('MMM Do h:mm A') +"<br>" + " untill: " + event.end.format('MMM Do h:mm A') + "<br><br>" + event.description,
                            style: {classes: 'qtip-light'},
                            position: {
                                my: 'top right',  // Position my top left...
                                at: 'bottom right', // at the bottom right of...
                            }
                        })
                    },
                    // Set elements in the calendar.
                    events: function (start, end, timezone, callback) {
                        getElements(start, end, timezone, callback);
                    }
                })
            });
    </script>

    <div id="eventContent" title="Event Details" style="display:none;">
        Start: <span id="startTime"></span><br>
        End: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    </div>


    <div class="container">
        <div class="row">
        @if(!trainings.isEmpty) {
            <div class=" row col-lg-12">
                <div class="col-lg-9">
                    <h1>Rooster</h1>
                </div>
                <div class="col-lg-3">
                    <a><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></a>
                    <label class="switch toggle" id="calSwitch">
                        <input type="checkbox" onclick="showDiv()">
                        <span class="slider round"> </span>
                    </label>
                    <a><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="row col-lg-12" id="listDiv">
                <div class="row col-lg-12" id="listDivTitle">
                    <div class="col-lg-2">
                        <label>Categorie</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Training</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Trainingscode</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Locatie</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Datum</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Inschrijvingen</label>
                    </div>
                </div>
                @for(training <- trainings) {
                    <div class="row col-lg-12" id="listviewrow">
                        <div class="col-lg-2">
                            <p>@training.getTraining().getCategory()</p>
                        </div>
                        <div class="col-lg-2">
                            <p>@training.getTraining().getName()</p>
                        </div>
                        <div class="col-lg-2">
                            <p>@training.getTraining().getTrainingCode()</p>
                        </div>
                        <div class="col-lg-2">
                            <div class="row" id="listviewrowstreet">
                                <p>@training.getLocation().getRoom()</p>
                            </div>
                            <div class="row" id="listviewrowstreet">
                                <p>@training.getLocation().getStreetName() @training.getLocation().getStreetNumber()</p>
                            </div>
                            <div class="row" id="listviewrowstreet">
                                <p>
                                @training.getLocation().getCity() <p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p>
                            @training.getDate().getDateString() <p>
                        </div>
                        <div class="col-lg-2">
                            <p>@training.getDate().getTrainees().size()</p>
                        </div>
                    </div>
                }
            </div>


            <div class="row col-lg-12" id="calenderDiv" style="display: none;">
                <div class="col-lg-10 offset-1">
                    <div id="calendar"></div>
                </div>
            </div>

        } else {
            <div class="col-lg-4 offset-lg-4 label"><p>U heeft momenteel geen trainingen.</p></div>
        }
        </div>


    </div>
}

