@import models.storage.User
@import org.apache.commons.lang3.text.WordUtils

@(page: String, isLoggedIn: Boolean, User: User, Users: List[User], pageIndex: Long, lastPage: Long, nextPage: Long, maxPage: Long)

@shared.main(page, isLoggedIn, User) {
    <head>
        <!--Sweet alert, more information: https://sweetalert.js.org/guides/  -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="@routes.Assets.at("javascripts/remove.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/accountmanagement.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <title>@page</title>
    </head>
    <div class="container">
        <div class="row">
            <div class="row col-lg-12">
        <div class="row offset-lg-4">
            <h1>Account Beheren</h1>
        </div></div>
        <div class="row col-lg-12">
            <div class="col-lg-4">
                <h6>Klik op het gewenste Email addres om een account te wijzigen.</h6>
            </div>
            <div class="col-lg-5">
                <h6>Rollen van de medewerkers</h6>
            </div>
            <div class="col-lg-3">
                <h6>Klik op verwijderen om een account te verwijderen.</h6>
            </div>
        </div>
        @for( x <- Users) {
            <div class="row account col-lg-12">
                <div class="col-lg-4">
                    <a href="@routes.AdminController.manageAccount(x.getEmail())"> @x.getEmail()</a>
                </div>
                <div class="col-lg-5">
                    <p>@x.capatalizedRole()</p>
                </div>
                <div class="col-lg-3">
                    <a href="@routes.AdminController.removeUser(x.getId())" class="btn btn-outline-danger">Verwijderen</a>
                </div>
            </div>
                }
            <div class="row col-lg-12 pageNr">
            <div class="row col-lg-6 offset-lg-3 ">
                <div class="col-lg-4">
                @if(pageIndex > 0) {
                    <a href="@routes.AdminController.accountSelector(lastPage)" class="btn btn-outline-primary btn-sm previous">Vorige pagina</a>
                }
                </div>
                <div class="col-lg-4">
                <div class="pageNumber">Pagina @(pageIndex + 1) van de @maxPage</div>
                </div>
                <div class="col-lg-4">
                @if((pageIndex + 1) != maxPage) {
                    <a href="@routes.AdminController.accountSelector(nextPage)" class="btn btn-outline-primary btn-sm next">Volgende pagina</a>
                }
                </div>
            </div>


            </div>

        </div>
    </div>
}