@import models.storage.User
@(page: String, isLoggedIn: Boolean, User: User, Users: List[User])

@shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/accountmanagement.css")">
    <div class="container">
        <div class="row offset-lg-3">
            <h1>Account Beheren</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Klik op het gewenste Email addres om een account te wijzigen.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Klik op verwijderen om een account te verwijderen.
                </p>
            </div>
        </div>
        @for( x <- Users){
            <div class="row account">
                <div class="col-lg-6">
                    <a href="@routes.AdminController.manageAccount(x.getEmail())"> @x.getEmail()</a>
                </div>
                <div class="col-lg-6">
                    <a href="@routes.AdminController.removeUser(x.getId())" class="btn btn-outline-danger">Verwijderen</a>
                </div>
            </div>

        }
    </div>
}