@import b4.vertical.fieldConstructor
@import play.data.Form
@import views.html.helper._

@import models.storage.Role
@import models.storage.User
@(page: String, isLoggedIn: Boolean, User: User, form: Form[User], manager: Map[String, String])

@shared.main(page, isLoggedIn, User) {
    <div class="container">
        <h1>Account management</h1>
        @b4.form(routes.AdminController.editUser()) {
            @helper.CSRF.formField
                <table>

                @if(form.get().getId().equals(User.getId())) {
                    <tr>@b4.email(form("email"), '_label -> "Email", 'placeholder -> "example@example.com", 'disabled -> true)</tr>
                } else {
                    <tr>@b4.email(form("email"), '_label -> "Email", 'placeholder -> "example@example.com")</tr>
                }
                <tr>@b4.text(form("firstName"), '_label -> "Voornaam", 'placeholder -> "Jan")</tr>
                <tr>@b4.text(form("lastName"), '_label -> "Achternaam", 'placeholder -> "Janssen")</tr>
                @if(User.getManager() != null){
                    <tr>@b4.select(form("manager"), options(manager), '_label -> "Manager", '_default -> "Selecteer een manager", 'value -> User.getManager)</tr>
                } else {
                    <tr>@b4.select(form("manager"), options(manager), '_label -> "Manager", '_default -> "Selecteer een manager")</tr>
                }
                <tr>@b4.hidden(form("id"), '_label -> "id")</tr>
                <tr>@b4.number(form("phoneNumber"), '_label -> "Telefoon Nummer", 'placeholder -> "0612345678")</tr>
                <tr>@b4.text(form("company"), '_label -> "Bedrijf", 'placeholder -> "Software BV", 'value -> "InfoSupport")</tr>
                <tr>@b4.select(form("role"), options(Role.values().toSeq.map(_.toString())), '_label -> "Categorie")</tr>
                <tr>@b4.submit('class -> "btn btn-default") { Wijzigen}</tr>
            </table>
        }
    </div>
}