@import b4.vertical.fieldConstructor
@import play.data.Form
@import views.html.helper._
@import models.storage.Role
@import models.storage.User
@import models.storage.Category

@import java.util
@(page: String, isLoggedIn: Boolean, User: User, form: Form[User], manager: Map[String, String], categories: List[Category], user: User)
@shared.main(page, isLoggedIn, User) {

    <script>
            $( document ).ready(function () {
                $('#email').on('input', function () {
                    if ($('#email').val() != "") {
                        $.post('/utility/checkemailexist/'+  $('[name=id]').val() + "/" + $('#email').val(), function (data) {
                            if (data == "user_exists") {
                                console.log("User already exists");
                                disableControls(true);
                            } else {
                                console.log("User doesn't exists");
                                disableControls(false);
                            }
                        });
                    } else {
                        disableControls(false);
                    }
                });
            });


            function disableControls(disable) {
                $('.btn-default').prop("disabled",disable);
                if(disable) {
                    $('#email_field').addClass('has-danger');
                    $('#validation_error_0').css("display", "block");
                } else {
                    $('#email_field').removeClass('has-danger');
                    $('#validation_error_0').css("display", "none");
                }
            }
    </script>

    <div class="container">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/smallPage.css")">
        <h1>Account management</h1>
        @if(form.hasGlobalErrors) {
            <p class="error">
            @for(error <- form.globalErrors) {
                <p>@error.format(messages())</p>
            }
            </p>
        }
        @b4.form(routes.AdminController.editUser()) {
            @helper.CSRF.formField

            @if(form.get().getId().equals(User.getId())) {
                <div class="row">@b4.email(form("email"), '_label -> "Email", 'placeholder -> "example@example.com", 'disabled -> true)</div>
            } else {
                <div class="row">@b4.email(form("email"), '_label -> "Email", 'placeholder -> "example@example.com")</div>
            }
            <div style="display: none; color:#d9534f" id="validation_error_0" class="form-control-feedback ">E-mailadres is al in gebruik</div>
            <div class="row">@b4.text(form("firstName"), '_label -> "Voornaam", 'placeholder -> "Jan")</div>
            <div class="row">@b4.text(form("lastName"), '_label -> "Achternaam", 'placeholder -> "Janssen")</div>
            @if(User.getManager() != null) {
                <div class="row">@b4.select(form("manager"), options(manager), '_label -> "Manager", '_default -> "Selecteer een manager", 'value -> User.getManager)</div>
            } else {
                <div class="row">@b4.select(form("manager"), options(manager), '_label -> "Manager", '_default -> "Selecteer een manager")</div>
            }
            <div class="row">@b4.hidden(form("id"), '_label -> "id")</div>
            <div class="row">@b4.number(form("phoneNumber"), '_label -> "Telefoonnummer", 'placeholder -> "0612345678")</div>
            <div class="row">@b4.text(form("company"), '_label -> "Bedrijf", 'placeholder -> "Software BV", 'value -> "InfoSupport")</div>

            <div class="form-control-inline row" id="role">
                <label class="from-control-label" for="role">Rol</label>
                <select id="role" name="role" class="form-control role-box">
                @for(role <- Role.values()) {
                    @if(form.get().getRole.equals(role)) {
                        <option selected="selected" value="@role.name()">@role.getValue</option>
                    } else {
                        <option value="@role.name()">@role.getValue</option>
                    }

                }
                </select>
            </div>

            @if(user.getRole == Role.DOCENT) {
                <div class="form-control-inline row" id="role">
                    <label for="sel2">Vaardigheden (Houd Ctrl in om meerdere te selecteren):</label>
                    <select multiple class="form-control role-box" name="skills[]" id="sel2">

                    @for(cat <- categories) {
                        @if(user.getSkillIds != null) {
                            @if(user.getSkillIds.contains(cat.get_id())) {
                                <option selected="selected" value="@cat.get_id()">@cat.getName()</option>
                            } else {
                                <option value="@cat.get_id()">@cat.getName()</option>
                            }
                        } else {
                            <option value="@cat.get_id()">@cat.getName</option>
                        }

                    }
                    </select>
                </div>
            }
            <div class="row">@b4.submit('class -> "btn btn-default") { Wijzigen }</div>
        }

    </div>
}

