@import models.storage.User
@(page: String, isLoggedIn: Boolean, User: User)

@shared.main(page, isLoggedIn, User) {
    <div class="container">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/adminoverview.css")">
            <div class="col-lg-6 offset-lg-3 row">
                <h1>
                    Account Beheer
                </h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        Klik op "Nieuw Account" om een nieuwe account toe te voegen.
                    </p>
                    <a href="@routes.AdminController.creationPage()" class="btn btn-success">Nieuw account</a>
                </div>
                <div class="col-lg-6">
                    <p>
                        Klik op account wijzigen om een bestaande account aan te passen.
                    </p>
                    <a href="@routes.AdminController.accountSelector(0)" class="btn btn-warning">Account wijzigen</a>
                </div>
            </div>
    </div>
}