@import play.data.Form

@(form : Form[Training], isLoggedIn : Boolean, User : User, Page : String)

@main(Page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/addtraining.css")">
  <h1>Training toevoegen</h1>

  @helper.form(action = helper.CSRF(routes.TrainingController.submit()), 'id -> "trainingform") { @* CSRF to prevent unauthorized *@
      <table>
      <tr>@helper.inputText(form("TrainingCode"), '_label -> "Training code:")</tr>
          <tr>@helper.inputText(form("Name"), '_label -> "Naam:")</tr>
          <tr>@helper.inputText(form("Desciption"), '_label -> "Beschrijving:")</tr>
          <tr>@helper.inputText(form("RequiredMaterial"), '_label -> "Benodigde materialen:")</tr>

          <tr>
              <td><label class="customLabel">Duur: </label></td>
              <td><input type="number" step="0.01" id="Duration" name="Duration" ></td>
          </tr>
          <tr>
              <td><label class="customLabel">Kosten: </label></td>
              <td><input type="number" step="0.01" id="Tuition" name="Tuition" ></td>
          </tr>
          <tr>
              <td><label class="customLabel">Capaciteit: </label></td>
              <td><input type="number" id="Capacity" name="Capacity" ></td>
          </tr>
      <tr><td>Datum:</td><td>@helper.inputDate(form("Date"), '_label -> null)</td></tr>

      </table>

      <input type="submit" value="Toevoegen" />
  }
}

