@import b4.vertical.fieldConstructor
@import play.data.Form
@import com.fasterxml.jackson.databind.JsonNode

@import models.storage.User
@import models.storage.Location
@import models.storage.Training
@(form: Form[Training], isLoggedIn: Boolean, User: User, Page: String, locations: List[Location], teachers: List[User], locationJson: JsonNode, teacherJson: JsonNode)

@shared.main(Page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/addtraining.css")">
    <script>
            function unescapeHTML(string) {
                var elt = document.createElement("span");
                elt.innerHTML = string;
                return elt.innerText;
            }

            var locJson = "@locationJson";
            locJson = JSON.parse(unescapeHTML(locJson));

            var teachJson = "@teacherJson";
            teachJson = JSON.parse(unescapeHTML(teachJson));

            $(document).ready(function () {

                $('#dynamicInput').on('change', '#dates', function (e) {
                    checkOverlap();
                });

                $('#dynamicInput').on('change', '#teacherId', function (e) {
                    checkOverlap();
                });
            });


            var checkInProgress = false;

            function checkOverlap() {
                var teacher = getTeacherInputValues();
                var date = getDateInputValues();
                var duration = $('#duration').val();

                if (teacher !== "" && date !== "" && duration !== "" && checkInProgress !== true) {
                    $('#loadingDiv').show();
                    checkInProgress = true;

                    $.post(
                            "/utility/overlapcheck",
                            {
                                "teacher": teacher,
                                "date": date,
                                "duration": duration
                            },
                            function (data) {
                                checkInProgress = false;
                                showOverlapResult(data);
                            },
                            "text"
                    );
                }
            }

            function getDateInputValues() {
                var valueArray = $('.dateInput').map(function () {
                    return this.value;
                }).get();

                return valueArray;
            }

            function getTeacherInputValues() {
                var valueArray = $('.teacherInput').map(function () {
                    return this.value;
                }).get();

                return valueArray;
            }

            function showOverlapResult(result) {
                $('#loadingDiv').hide();
                if (result.indexOf("overlap_detected") !== -1) {
                    disableControls(true, result)
                } else {
                    disableControls(false, result);
                }
            }

            function disableControls(disable, result) {
                $('.btn-default').prop("disabled", disable);
                $('.btn-primary').prop("disabled", disable);

                if (disable) {
                    if (result.indexOf("0") !== -1) {
                        $('.row0').addClass('has-danger');
                        $('#validation_error_1').css("display", "block");

                    } else {
                        $('.row' + result.substring(19, 20)).addClass('has-danger');
                        $('#validation_error_1').css("display", "block");
                    }
                } else {
                    $('.row0').removeClass('has-danger');
                    $('#validation_error_1').css("display", "none");

                    $('.row').removeClass('has-danger');
                    $('#validation_error_1').css("display", "none");
                }
            }

    </script>
    <script src="@routes.Assets.at("/javascripts/addInput.js")"></script>
    <script src="@routes.Assets.at("/javascripts/trainingCheck.js")"></script>


    <div class="container">
        <div class="row col-lg-12">
            <h1>Training toevoegen</h1>
            <br />
        </div>
        @b4.form(routes.TrainingController.submit()) {
            @helper.CSRF.formField
            <div class="row"><div class="col-lg-12">@b4.number(form("trainingCode"), '_label -> "Training code:", 'class -> "form-control-inline", 'placeholder -> "Voer trainingscode in")</div></div>
            <div style="display: none;
                color: #d9534f" id="validation_error_0" class="form-control-feedback ">Code is al in gebruik</div>
            <div class="row"><div class="col-lg-12">@b4.text(form("name"), '_label -> "Naam:", 'class -> "form-control-inline", 'placeholder -> "Voer naam in")</div></div>
            <div class="row"><div class="col-lg-12">@b4.text(form("description"), '_label -> "Beschrijving:", 'class -> "form-control-inline", 'placeholder -> "Voer beschrijving in")</div></div>
            <div class="row"><div class="col-lg-12">@b4.text(form("requiredMaterial"), '_label -> "Benodigde materialen:", 'class -> "form-control-inline", 'placeholder -> "Voer materialen in")</div></div>
            <div class="form-group">
                <div id="dynamicInput">
                    <div class="row col-lg-12 row0">
                        <div class="col-lg-3">
                            <label class="form-control-label" for="dates[]">Datum:</label>
                            <input type="datetime-local" id="dates" name="dates[]" required="true"
                            value="" class="form-control dateInput" )>
                        </div>

                        <div class="col-lg-4">
                            <label class="form-control-label" for="locationId[]">Locatie:</label>
                            <select id="locationId" name="locationId[]" required="true" class="form-control form-control">
                                <option value="" class="blank" selected="true" disabled="disabled">
                                    Selecteer een locatie</option>
                                @for(location <- locations) {
                                    <option value="@location.getId()" >@location.getStreetName</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-5">
                            <div class="row" >
                                <div class="col-lg-9">
                                    <label class="form-control-label" for="teacherId[]">Docent:</label>
                                    <select id="teacherId" name="teacherId[]" required="true" class="form-control form-control teacherInput">
                                        <option value="" class="blank" selected="true" disabled="disabled">
                                            Selecteer een docent</option>
                                        @for(teacher <- teachers) {
                                            <option value="@teacher.getId()" >@teacher.getFirstName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row"><div class="col-lg-12">
                <div style="display: none;" id="loadingDiv">Beschikbaarheid docent controleren: <img id="loadingImage" alt="laden" src="@routes.Assets.at("images/loading.gif")"> </div>
                <div style="display: none;
                    color: #d9534f" id="validation_error_1" class="form-control-feedback ">
                    Docent is al ingepland, selecteer een andere docent.</div>
                <input class="btn btn-default" type="button" value="Nog een datum toevoegen" onClick="addInput('dynamicInput');">
            </div></div>
            <br>
            <div class="row"><div class="col-lg-12">@b4.number(form("duration"), '_label -> "Duur(in dagen):", 'class -> "form-control-inline", 'step -> "0.01", 'placeholder -> "Voer duur in(bv. 2 dagen)")</div></div>
            <div class="row"><div class="col-lg-12">@b4.number(form("tuition"), '_label -> "Kosten:", 'class -> "form-control-inline", 'step -> "0.01", 'placeholder -> "Voer kosten in")</div></div>
            <div class="row"><div class="col-lg-12">@b4.number(form("capacity"), '_label -> "Capaciteit:", 'class -> "form-control-inline", 'placeholder -> "Voer capaciteit in(bv. 20 personen)")</div></div>
            <div class="row"><div class="col-lg-12">@b4.text(form("category"), '_label -> "Categorie:", 'class -> "form-control-inline", 'placeholder -> "Voer categorie in(bv. java)")</div></div>
            <div class="row"><div class="col-lg-12"> @b4.submit('class -> "btn btn-primary") { Toevoegen }</div>
            </div>
}

}
