@import b4.vertical.fieldConstructor
@import play.data.Form
@import com.fasterxml.jackson.databind.JsonNode

@(form: Form[Training], isLoggedIn: Boolean, User: User, Page: String, locations: List[Location], teachers: List[User], locationJson : JsonNode, teacherJson : JsonNode)

@shared.main(Page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/smallPages.css")">
    <script>
            function unescapeHTML(string) {
                var elt = document.createElement("span");
                elt.innerHTML = string;
                return elt.innerText;
            }

        var locJson = "@locationJson";
        locJson = JSON.parse(unescapeHTML(locJson));

        var teachJson = "@teacherJson";
        teachJson = JSON.parse(unescapeHTML(teachJson));

    </script>
    <script src="@routes.Assets.at("/javascripts/addInput.js")"></script>


    <div class="container">
        <h1>Training toevoegen</h1>
        <br />
        @b4.form(routes.TrainingController.submit()) {
            @helper.CSRF.formField
            <div class="row">@b4.number(form("TrainingCode"), '_label -> "Training code:", 'class -> "form-control-inline", 'placeholder -> "Voer trainingscode in")</div>
            <div class="row">@b4.text(form("Name"), '_label -> "Naam:", 'class -> "form-control-inline", 'placeholder -> "Voer naam in")</div>
            <div class="row">@b4.text(form("Description"), '_label -> "Beschrijving:", 'class -> "form-control-inline", 'placeholder -> "Voer beschrijving in")</div>
            <div class="row">@b4.text(form("RequiredMaterial"), '_label -> "Benodigde materialen:", 'class -> "form-control-inline", 'placeholder -> "Voer materialen in")</div>

            <div class="form-group  ">
                <div id="dynamicInput">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="control-label" for="Dates[]">Datum:</label>
                                <input type="date" id="Dates" name="Dates[]" required="true" value="" class="form-control">
                            </div>

                            <div class="col-lg-4">
                                <label class="form-control-label" for="LocationID[]">Locatie:</label>
                                <select id="LocationID" name="LocationID[]" required="true" class="form-control form-control">
                                    <option value="" class="blank" selected="true" disabled="disabled">Selecteer een locatie</option>
                                    @for(location <- locations) {
                                        <option value="@location.get_id()" >@location.getStreetName</option>
                                    }
                                </select>
                            </div>

                            <div class="col-lg-4">
                                <label class="form-control-label" for="TeacherID[]">Docent:</label>
                                <select id="TeacherID" name="TeacherID[]" required="true" class="form-control form-control">
                                    <option value="" class="blank" selected="true" disabled="disabled">Selecteer een docent</option>
                                    @for(teacher <- teachers) {
                                        <option value="@teacher.get_id()" >@teacher.getFirstName</option>
                                    }
                                </select>
                                <a href="#step2">Remove</a>
                            </div>

                    </div>

</div>
            </div>

            <input class="btn btn-default" type="button" value="Nog een datum toevoegen" onClick="addInput('dynamicInput');">
            <br>
            <div class="row">@b4.number(form("Duration"), '_label -> "Duur(in dagen):", 'class -> "form-control-inline", 'step -> "0.01", 'placeholder -> "Voer duur in(bv. 2 dagen)")</div>
            <div class="row">@b4.number(form("Tuition"), '_label -> "Kosten:", 'class -> "form-control-inline", 'step -> "0.01", 'placeholder -> "Voer kosten in")</div>
            <div class="row">@b4.number(form("Capacity"), '_label -> "Capaciteit:", 'class -> "form-control-inline", 'placeholder -> "Voer capaciteit in(bv. 20 personen)")</div>
            <div class="row">@b4.text(form("category"), '_label -> "Categorie:", 'class -> "form-control-inline", 'placeholder -> "Voer categorie in(bv. java)")</div>

            @b4.submit('class -> "btn btn-primary") { Toevoegen }
        </div>

}

}
