@import play.data.Form
@import b3.vertical.fieldConstructor

@(trainings: List[models.Training], training: models.Training, page: String, isLoggedIn: Boolean, User: User, form: Form[Training])

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/training.css")">

@main(page, isLoggedIn, User) {
    <div class="container">
        <div class="row">
            <div class="col-lg-2 trainingmenu">
                <ul>
                    <lh>Training</lh>
                    <li id="newTrn"><a href="@routes.TrainingController.addtraining()">Nieuwe Training Toevoegen</a> </li>
                    @if(!trainings.isEmpty) {
                        @for(training <- trainings) {
                            <li ><a href="@routes.TrainingController.manageTraining(training.getTrainingCode())"> @training.getName</a></li>
                        }
                    } else {
                        <li><p>Geen beschikbare trainingen.</p></li>
                    }

                </ul>
            </div>

            <div class="row col-lg-10 trainingtext">
                <div class="col-lg-12">
                    <h1>Beheren</h1>
                </div>
            @if(training != null) {

                @b3.form(routes.TrainingController.edit(training.getTrainingCode())) {
                    @helper.CSRF.formField
                    <div class="row col-lg-12">
                        <div class="col-lg-12" hidden="true"> @b3.text(form("_id" ), '_label -> "Training id:", 'class -> "", 'placeholder -> "Id") </div>
                        <div class="col-lg-12">@b3.number(form("TrainingCode"), '_label -> "Training code:", 'class -> "", 'placeholder -> "Voer trainingscode in")</div>
                        <div class="col-lg-12">@b3.text(form("Name"), '_label -> "Naam:", 'class -> "", 'placeholder -> "Voer naam in")</div>
                        <div class="col-lg-12">@b3.text(form("Description"), '_label -> "Beschrijving:", 'class -> "", 'placeholder -> "Voer beschrijving in")</div>
                        <div class="col-lg-12">@b3.text(form("RequiredMaterial"), '_label -> "Benodigde materialen:", 'class -> "", 'placeholder -> "Voer materialen in")</div>
                        <div class="col-lg-12">@b3.number(form("Duration"), '_label -> "Duur:", 'class -> "", 'step -> "0.01", 'placeholder -> "Voer duur in(bv. 2 dagen)")</div>
                        <div class="col-lg-12">@b3.number(form("Tuition"), '_label -> "Kosten:", 'class -> "", 'step -> "0.01", 'placeholder -> "Voer kosten in")</div>
                        <div class="col-lg-12">@b3.number(form("Capacity"), '_label -> "Capaciteit:", 'class -> "f", 'placeholder -> "Voer capaciteit in(bv. 20 personen)")</div>
                        <div class="col-lg-12">@b3.date(form("Date"), '_label -> "Datum:", 'class -> "")</div>
                    </div>
                    <div class="row col-lg">
                        <div class="col-lg-4">
                            <a href="@routes.TrainingController.trainingOverview(training.getTrainingCode())" class="btn btn-primary">
                                Naar Training</a>
                        </div>
                        <div class="col-lg-4" id="editTrn">
                        @b3.submit('class -> "btn btn-warning") { Wijzigen }
                        </div>
                        <div class="col-lg-4">
                            <a href="@routes.TrainingController.removeTraining(training.getTrainingCode())" class="btn btn-danger">
                                Verwijderen</a>
                        </div>
                        }
            </div>
            } else {
                <div class="col-lg-12">
                <p>Selecteer een training</p>
                </div>
            }

            </div>
        </div>
    </div>
    </div>
}


