@import b4.vertical.fieldConstructor
@import play.data.Form

@(categories: Map[String, Integer], teachers:List[User], trainings: List[models.Training], locations: List[Location], training: models.Training, page: String, isLoggedIn: Boolean, User: User, form: Form[Training], viewDates : List[ViewDate])



@shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/training.css")">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 trainingmenu">
                    <ul>
                        <lh>Categorie</lh>
                        @if(!categories.isEmpty) {
                            @for((key, value) <- categories) {
                                <li><a href="@routes.TrainingController.manageCategory(key)">@key (@value)</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-lg-2 trainingmenu">
                    <ul>
                        <lh>Training</lh>
                        <li id="newTrn"><a href="@routes.TrainingController.addtraining()">
                            Nieuwe Training Toevoegen</a> </li>
                        @if(!trainings.isEmpty) {
                            @for(training <- trainings) {
                                <li ><a href="@routes.TrainingController.manageTraining(training.getCategory(),training.getTrainingCode())"> @training.getName</a></li>
                            }
                        } else {
                            <li><p>Geen beschikbare trainingen.</p></li>
                        }

                    </ul>
                </div>

                <div class="row col-lg-8 trainingtext">
                    <div class="col-lg-12">
                        <h1>Beheren</h1>
                    </div>
                    @if(training != null) {
                        @b4.form(routes.TrainingController.edit(training.getCategory ,training.getTrainingCode())) {
                            @helper.CSRF.formField
                            <div class="row col-lg-12">
                                <div class="col-lg-12">@b4.number(form("TrainingCode"), '_label -> "Training code:", 'class -> "", 'placeholder -> "Voer trainingscode in")</div>
                                <div class="col-lg-12">@b4.text(form("Name"), '_label -> "Naam:", 'class -> "", 'placeholder -> "Voer naam in")</div>
                                <div class="col-lg-12">@b4.text(form("Description"), '_label -> "Beschrijving:", 'class -> "", 'placeholder -> "Voer beschrijving in")</div>
                                <div class="col-lg-12">@b4.text(form("RequiredMaterial"), '_label -> "Benodigde materialen:", 'class -> "", 'placeholder -> "Voer materialen in")</div>

                                @*for(i <- 0 to tDates.size() - 1) {*@
                                @for(vd <- viewDates) {
                                    <div class="col-lg-4">
                                        <label class="control-label" for="Dates[]">Datum:</label>
                                        <input type="date" id="Dates" name="Dates[]" required="true" value="@vd.getDateString" class="form-control">
                                    </div>

                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="LocationID[]">Locatie:</label>
                                        <select id="LocationID" name="LocationID[]" required="true" class="form-control form-control">
                                            <option value="@vd.getLocation.get_id()" class="blank" selected="true">@vd.getLocation.getStreetName</option>
                                            @for(location <- locations) {
                                                @if(location.getStreetName == vd.getLocation.getStreetName) {
                                                } else {
                                                    <option value="@location.get_id()" >@location.getStreetName</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="col-lg-4">
                                        <label class="form-control-label" for="TeacherID[]">Docent:</label>
                                        <select id="TeacherID" name="TeacherID[]" required="true" class="form-control form-control">
                                           <option value="@vd.getTeacher.get_id()" class="blank" selected="true">@vd.getTeacher.getFirstName</option>
                                            @for(teacher <- teachers) {
                                                @if(teacher.getFirstName == vd.getTeacher.getFirstName) {
                                                } else {
                                                <option value="@teacher.get_id()" >@teacher.getFirstName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                }

                                <div class="col-lg-12">@b4.number(form("Duration"), '_label -> "Duur:", 'class -> "", 'step -> "0.01", 'placeholder -> "Voer duur in(bv. 2 dagen)")</div>
                                <div class="col-lg-12">@b4.number(form("Tuition"), '_label -> "Kosten:", 'class -> "", 'step -> "0.01", 'placeholder -> "Voer kosten in")</div>
                                <div class="col-lg-12">@b4.number(form("Capacity"), '_label -> "Capaciteit:", 'class -> "f", 'placeholder -> "Voer capaciteit in(bv. 20 personen)")</div>
                                <div class="col-lg-12">@b4.text(form("category"), '_label -> "Category:", 'class -> "", 'placeholder -> "Voer categorie in")</div>
                            </div>

                            <div class="row col-lg">
                                <div class="col-lg-4">
                                    <a href="@routes.TrainingController.trainingOverview(training.getCategory(), training.getTrainingCode())" class="btn btn-primary">
                                        Naar Training</a>
                                </div>
                                <div class="col-lg-4" id="editTrn">
                                    @b4.submit('class -> "btn btn-warning") { Wijzigen }
                                </div>
                                <div class="col-lg-4">
                                    <a href="@routes.TrainingController.removeTraining(training.getCategory() ,training.getTrainingCode())" class="btn btn-danger">
                                        Verwijderen</a>
                                </div>
                                }
                    </div>
                    } else {
                        <div class="col-lg-12">
                            <p>Selecteer een training</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    }


