@import models.view.ViewTraining
@import models.storage.User
@import models.storage.Role
@import models.storage.TuitionForm
@(trainings: List[ViewTraining], page: String, isLoggedIn: Boolean, User: User, forms: List[TuitionForm])

@shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/teacher.css")">
    <div class="container">
        <div>
            @if(!trainings.isEmpty()) {
                <div class="row">
                    <div class="row col-lg-12">
                        <div class=" row col-lg-12">
                            <div class="col-lg-12">
                                <h1>Mijn Trainingen</h1>
                            </div>
                        </div>
                        <div class="row col-lg-12" id="listDiv">
                            <div class="row col-lg-12" id="listDivTitle">
                                <div class="col-lg-2">
                                    <label>Trainingcode</label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Training</label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Locatie</label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Datum</label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Status</label>
                                </div>
                            </div>
                            @for(training <- trainings) {
                                <div class="row col-lg-12" id="listviewrow">
                                    <div class="col-lg-2">
                                        <p>@training.getTraining().getTrainingCode()</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <p> <a href="@routes.TrainingController.trainingOverview(training.getTraining().getId())">@training.getTraining().getName()</a></p>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="row" id="listviewrowstreet">
                                            <p>@training.getDate().getLocation().getRoom()</p>
                                        </div>
                                        <div class="row" id="listviewrowstreet">
                                            <p>@training.getDate().getLocation().getStreetName() @training.getDate().getLocation().getStreetNumber()</p>
                                        </div>
                                        <div class="row" id="listviewrowstreet">
                                            <p>
                                            @training.getDate().getLocation().getCity() <p>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <p>@training.getDate().getDateOnlyString(), @training.getDate().getTmeOnlyString uur </p>
                                    </div>
                                    @if(!User.getRole.equals(Role.EXTERN)){
                                        <div class="col-lg-2">
                                            <p>@for(tut <- forms){
                                                @if(tut.getDateTimeID() == training.getDate().getDateId()){
                                                    @tut.getStatus().getValue()
                                                }
                                            }</p>

                                        </div>
                                    }
                                    <div class="col-lg-2">
                                        <div class="col-lg-12">
                                            <p><a class="btn btn-outline-danger" href="#">Uitschrijven</a></p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            } else {
                <div class="row">
                    <div class="row col-lg-12">
                        <div class="col-lg-4 offset-lg-4">
                            <h1>Mijn trainingen</h1>
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="col-lg-6 offset-lg-3">
                            <p id="selectText">
                                U heeft zich nog niet ingeschereven voor een training, klik <a href="@routes.TrainingController.overview()">
                                hier</a> om u in te schrijven voor een training.</p>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
}