@import models.view.ViewDate
@import models.storage.Training
@import models.storage.User
@(categories: Map[String, Integer], trainings: List[Training], training: Training, page: String, isLoggedIn: Boolean, User: User, viewDates: List[ViewDate])

@shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/training.css")">
    <div class="container">
        <div>
            @if(!trainings.isEmpty) {
                <div class="row">
                <div class="col-lg-2 trainingmenu">
                <ul>
                    <lh>Categorie</lh>
                    @if(!categories.isEmpty) {
                        @for((key, value) <- categories) {
                            <li><a href="@routes.TrainingController.personalOverviewCategory(key)">@key (@value)</a></li>
                        }
                    }
                </ul>
            </div>
                <div class="col-lg-2 trainingmenu">
                <ul>
                    <lh>Training</lh>
                    @if(!trainings.isEmpty()) {
                        @for(training <- trainings) {
                            <li ><a href="@routes.TrainingController.personalTrainingOverview(training.getCategory(), training.getTrainingCode())"> @training.getName</a></li>
                        }
                    } else {
                        <li><p>Selecteer een categorie</p></li>
                    }
                </ul>
            </div>
                <div class="trainingtext col-lg-8" >
                <div>
                    @if(training != null) {
                        <h1>@training.getName()</h1>
                        <h2>Beschrijving</h2>
                        @if(training.getDescription == null) {
                            <p> Geen beschrijving. </p>
                        } else {
                            <p> @training.getDescription()</p>
                        }
                        <h2>Informatie</h2>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Trainingcode:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>@training.getTrainingCode</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Ruimte:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>@training.getCapacity plekken</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Benodigde materialen:</p>
                                    </div>
                                    <div class="col-lg-8">
                                    @if(!training.getRequiredMaterial().isEmpty()) {
                                        <p>@training.getRequiredMaterial</p>
                                    } else {
                                        <p>Geen</p>
                                    }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Kosten:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>€@training.getTuition euro per persoon.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Duur:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>@training.getDuration().toInt dagen</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Categorie: </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>@training.getCategory</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p>Datum ingeschreven: </p>
                                    </div>
                                    <div class="col-lg-8">
                                    @for(date <- viewDates) {
                                        <p>@date.getDateString <a href="#">Uitschrijven</a></p>
                                    }
                                    </div>
                                </div>
                            </div>
                            } else {
                        <h1>Selecteer een training</h1>
                        <p>Links in het menu kunt u trainingen selecteren.</p>
                    }
                </div>
                </div>
            </div>
                </div>
            } else {
                <div class="row">
                    <div class="row col-lg-12">
                        <div class="col-lg-4 offset-lg-4">
                            <h1>Mijn trainingen</h1>
                        </div>
                    </div>
                    <div class="row col-lg-12">

                        <div class="col-lg-6 offset-lg-3">
                            <p>U heeft zich nog niet ingeschereven voor een training, klik <a href="@routes.TrainingController.overview()">hier</a> om u in te schrijven voor een training.</p>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
}