h1{
    color: #0078c9;
}
.row{
    padding: 5px;
}
.container{
    width:50%;
}
.account{

}

.previous {

}

.next {

}

.pageNumber {
    font-size: 13px;
    margin-top: 4px;
}
.pageNr {
    margin-top: 20px;
    margin-bottom: 20px;
}