h1{
    color: #0078c9;
}
.row{
    padding: 5px;
}
.container{
    width:50%;
}
.account{

}

.previous {
    float: left;
}

.next {
    float: right;
    margin-right: 10%;
}

.pageNumber {
    width: 20%;
    margin: 0 auto;
    font-size: 13px;
}