.container {
    margin-top: 20px;
    width: 1200px;
}

h1 {
    margin-bottom: 20px;
}

#kruisboog {
    width: 100%;
    height: 150px;
}

#lab {
    width: 100%;
    height: 150px;
}

.addressText {
    font-size: 15px;
}

.maps {
    height: 100%;
    width: 100%;
}

.location {
    margin-top: 70px;
    margin-bottom: 20px;
}