@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.container {
    min-width: 60%;
    max-width: 70em;
}

body {
    color:  #0078c9;
}

.headers {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.articles {
    margin-top: 100px;
    text-align: center;
}

.article-headers {
    margin-bottom: 30px;
}

.text-article-1 {
    color: black;
    text-align: center;
    margin: 0 auto;
}

.carousel .carousel-item img {
    max-height: 500px;
    min-width: 100%;
}