#signupForm{
    width: 80%;
    background-color: blue;
    height: 70%;
    margin: auto;
    color: white;
}

#signup-Nav-Bar{
    width: 95%;
    background-color: yellow;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    color: green;
    text-decoration: none;

}

#signup-Nav-Bar > ul{
    list-style-type: none;
}

#signup-Nav-Bar > li{
    display: block;
    float: left;
    border: 1px solid black;
}
/*
Code reference : https://codepen.io/philhoyt/pen/ujHzd
*/
.navbar{
    background-color:#222222 ;
    height: 70px;
    color:#ffffff;
}

.navbar ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.navbar ul a {
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.navbar ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.navbar ul li:hover{
    background-color: #222222;
}

.navbar ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

.navbar ul ul li{
    float:none;
    width:200px
}

.navbar ul ul a{
    line-height:120%;
    padding:10px 15px
}

.navbar ul ul ul{
    top:0;
    left:100%;
}

.navbar ul li:hover > ul{
    display:block
}