#signupForm{
    width: 80%;
    background-color: blue;
    height: 70%;
    margin: auto;
    color: white;
}

#signup-Nav-Bar{
    width: 90%;
    background-color: yellow;
    border-style: solid;
    border-color: black;
    margin: auto;
    color: green;
    list-style-type: none;
}

#signup-Nav-Bar >li {
    display: inline;
    float: left;
}


#mainmenu {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

#mainmenu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content:hover {
    background-color: #222222;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#mainmenu:hover .dropdown-content {
    display: block;
}