/*
Code reference : https://codepen.io/philhoyt/pen/ujHzd
*/
/*.navbar{
    background-color: #0079C8;
}*/
/* Navbar
 */
.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-size:x-large;
    margin-right:40px;
    margin-left:40px;
}

/* Page

 */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #DFEBF5; !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position:relative;
}

#content {
    padding-bottom: 170px;
}

.container {
    background-color: white;
    box-shadow: 5px 0 5px -2px #C0C0C0;
    margin-top: 20px;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container h1 {
    padding-top: 20px;
}

/* Footer stuff */

.logo {
    width: 156px;
    display: block;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width:100%;
    background: #0078c9 url("../images/footer_bg.png") no-repeat right bottom;
    min-height: 150px;
    color: white;
}

.created {
    vertical-align: middle;
    line-height: 150px;
}

footer .row {
    margin-right: 0;
}

.footer-logo {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height:100px;
}

.dropdown-menu{
    margin-top: 0;
}

.navbar {
    padding-right: 0px;
}
