.form-vertical {
    margin-left: 20px; !important;
}

.form-vertical {
    font-weight: bold;
}

h1 {
    color: #0078c9;
    margin-left: 20px;
    margin-bottom: 30px;
}
.container {
    width: 40%;
}

.form-group{
    width:95%;
}
.form-control-inline {
    width: 100%;
}

.invalid input:focus:invalid {
    border-color: red;
}

.category-box {
    overflow:hidden;
    text-overflow: ellipsis;
}

.role-box{
    overflow:hidden;
    text-overflow: ellipsis;
}

#role{
    margin-bottom: 10px;
}
