.form-vertical {
    margin-left: 50px; !important;
}

.form-vertical {
    font-weight: bold;
}

h1 {
    color: #0078c9;
    margin-left: 50px;
}
.container {
    width: 40%;
}

.form-control-inline {
    width: 500px;
}

.invalid input:focus:invalid {
    border-color: red;
}
