
.container {
    padding: 0px;
    width: 65%;
}

div.form-group {
    width: 100%;

}

#selectText {
    margin-left:15px;
}
#btnAddDate{
    margin-top:10px;
    margin-left:30px;
    margin-bottom: 10px;
}

#newTrn {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid dodgerblue;
    text-align: center;
    text-underline: none;
}

#newTrn:hover a {
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    text-underline: none;
}

#editTrn {
   margin:0px;
}


div.form-group label{
    font-weight: bold;
}

div.trainingmenu ul lh {
    color: black;
    text-underline: none;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

div.trainingmenu ul {
    list-style-type: none;
    padding: 1px;
    background-color: #e8effc;
}

div.trainingmenu ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid dodgerblue;
    text-align: center;
    text-underline: none;
}
div.trainingmenu ul li.active {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid dodgerblue;
    text-align: center;
    text-underline: none;
    font-weight: bold;
}

div.trainingmenu ul li:last-child {
    border-bottom: none;
}

div.trainingmenu ul li a {
    color: #666;
    text-underline: none;
    text-decoration: none;
    display: block;
    background-color: transparent;
}

div.trainingmenu ul li a:hover {
    background-color: #0078c9;
    color: white;
    border-radius: 5px;
    text-underline: none;
}

div.trainingtext {
    padding-bottom: 20px;
    padding-left: 40px;
}

div.trainingtext h1 {
    text-align: left;
    color: #0078c9;
    margin-left:15px;
    margin-bottom: 30px;
}

div.trainingtext h2 {
    text-align: left;
    color: #0078c9;
    margin-bottom: 0px;
    border-bottom: 1px solid lightblue;
}

div.trainingtext p {
    margin-top: 0px;

}

div.trainingtext button {

}

div.trainingtext td button:hover {
    background-color: #0078c9;
    color: white;
}

div.col-lg-2 {
    padding-right: 5px;
    padding-left: 5px;
    background-color: #e8effc;
}

div.row.col-lg-12 {
    margin-left:1px;
}


.btn-danger {
    margin-top:32px;
}

div.col-lg-9 {
    padding-right: 0px;
}
div.col-lg-3 {
    padding-left:0px;

}
div.col-lg-5 {
    padding-left: 0px;
    padding-right: 15px;
}

input.btn.btn-default {

}

a.btn.btn-danger {
    margin-top:0px;
}
.form-control-label {
    font-weight: bold;
}
#dynamicInput
{
    padding-left:0px;
    font-weight: bold;
}

#trainingMenu {
    background-color: #e8effc;
    width: 10em;
}

#trainingMenu #trainingContent {
    color: black;
    text-underline: none;
    text-decoration: none;
    list-style-type: none;
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
    background-color: #e8effc;
    visibility: hidden;
}

#trainingMenu #title {
    color: black;
    text-underline: none;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
}

#loadingImage {
    width: 3em;
    height: 3em;
}

#trainingContentDates {
    margin-top : 2em;
}
.categorycontainer{
    margin-bottom: 10px;
}
.popup{
    display: none;
}

.newcategory{
    margin-bottom: 10px;
}
#popupbutton{
    margin-top:10px;
}

#newcategorybtn{
    margin-top: 10px;
    margin-bottom: 15px;
}
#deletecategorybtn{
    margin-top:10px;
}
.errordisplay{
    display: none;
    color: #b1000d;
}
#addcategorycontainer{
    padding-left: 0 ;
}
#removecategorycontainer{
    padding-right: 0;
}

.categoryLink.active {
    background-color: #0078c9;
    color: white;
    border-radius: 5px;
    text-underline: none;
}

.trainingLink.active {
    background-color: #0078c9;
    color: white;
    border-radius: 5px;
    text-underline: none;
}

.trainingContent li {
    /*display: none;*/
    /*opacity: 0;*/
}