div.trainingmenu ul lh{
    color: deepskyblue;
    text-underline: none;
    text-decoration: none;
    display: block;
    background-color: transparent;
    text-align: center;
    font-size:20px;
    padding-bottom: 5px;
}

div.trainingmenu ul{
    list-style-type: none;
    padding: 1px;
}
div.trainingmenu ul li{
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom: 1px solid deepskyblue;
    margin: 5px;
    text-align: center;
    text-underline: none;
}

div.trainingmenu ul li:last-child{
    border-bottom: none;
}
div.trainingmenu ul li a{
    color: #666;
    text-underline: none;
    text-decoration: none;
    display: block;
    background-color: transparent;
}
div.trainingmenu ul li a:hover{
    background-color: #0078c9;
    color: white;
    border-radius: 5px;
    text-underline: none;
}

div.trainingtext  h1{
    text-align: left;
    color: #0078c9;
    margin-bottom: 0px;
}

div.trainingtext h2{
    text-align: left;
    color: #0078c9;
    margin-bottom:0px;
    border-bottom: 1px solid lightblue;
}

div.trainingtext  p {
    margin-top: 0px;
    padding-right: 40px;

}
div.trainingtext button {
    margin-top: 8px;
}
div.trainingtext td button:hover {
    background-color: #0078c9;
    color: white;
}