@(title: String, isLoggedIn: Boolean, user: User)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>

        <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar">
                <a href="@routes.ApplicationController.index()"><img src="@routes.Assets.at("images/infosupportlogo.png")" class="logo" alt="logo"></a>
                <ul>
                    <li ><p class="navitem dropdown-toggle">Training</p>
                        <ul>
                            <li><a href="@routes.TrainingController.manage()" class="navitem dropdown-toggle">
                                Training Beheren</a>
                                <ul><li><a href="@routes.TrainingController.addtraining()">Training Toevoegen</a></li>
                                    <li> <a href="@routes.TrainingController.manage()">Training Beheren</a></li>
                                </ul>
                            </li>
                            <li><a href="@routes.TrainingController.overview()">Mijn Trainingen</a></li>
                            <li><a href="@routes.TrainingController.overview()">Aangeboden Trainingen</a></li>

                        </ul>
                    </li>
                    <li><a href="" class="navitem dropdown-toggle">Locatie</a>
                        <ul>
                            <li><a href="@routes.LocationController.loadLocationForm()">Locatie Toevoegen</a></li>
                            <li><a href="@routes.LocationController.locationOverview()">Locatie Beheren</a></li>
                        </ul>
                    </li>
                    <li ><p class="navitem dropdown-toggle">Manager</p>
                        <ul>
                            <li><a href="#">Mijn Medewerker</a></li>
                            <li><a href="#">Studiekosten Formulier</a></li>
                        </ul>
                    </li>
                    @if(isLoggedIn) {
                        <li><a href="@routes.AccountController.logout()" class="navitem">Log out</a>
                        </li>
                    } else {
                        <li ><p class="navitem dropdown-toggle">Log In</p>
                            <ul>
                                <li><a href="@routes.AccountController.register()">Registreren</a></li>
                                <li><a href="@routes.AccountController.login()">Aanmelden</a></li>
                            </ul>
                        </li>
                    }
                    <li ><a href="@routes.ApplicationController.contact()" class="navitem">Contact</a></li>
                    @if(isLoggedIn) {
                        <li><a href="@routes.AccountController.profile()">Profile</a></li>
                    }
                </ul>
            </nav>
            <div id="content">
            @content
            </div>

            <footer>
                <div class="row">
                    <div class="col-md-8">
                        <img class="footer-logo" src="@routes.Assets.at("images/infosupportlogo.png")">
                    </div>
                    <div class="col-md-3">
                        <p class="created">Created by hats Off</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
