@import models.storage.Role
@import models.storage.User
@(title: String, isLoggedIn: Boolean, user: User)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>

        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/dd707fcffa.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">

    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="@routes.ApplicationController.index()"><img src="@routes.Assets.at("images/infosupportlogo.png")" class="logo" alt="logo"></a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto ml-auto">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" id="trainingDropdownMenu" href="">
                                Training</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@routes.TrainingController.overview()">Aangeboden Trainingen</a>
                                @if(isLoggedIn) {
                                    @if(user.getRole.equals(Role.MEDEWERKERKENNISCENTRUM)) {
                                        <a class="dropdown-item" href="@routes.TrainingController.addTraining()">Training Toevoegen</a>
                                        <a class="dropdown-item" href="@routes.TrainingController.manage()">Training Beheren</a>
                                    }
                                }
                            </div>

                        @if(isLoggedIn) {
                            @if(user.getRole.equals(Role.MEDEWERKERKENNISCENTRUM)) {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="locationDropdownMenu" href="">Locatie</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@routes.LocationController.loadLocationForm()">Locatie Toevoegen</a>
                                        <a class="dropdown-item" href="@routes.LocationController.locationOverview()">Locatie Beheren</a>
                                    </div>
                            <li class="nav-item">
                                <a class="nav-link" href="@routes.AdminController.overview()" >Account beheer</a>
                            </li>
                            }
                        }
                        @if(isLoggedIn){
                            @if(user.getRole.equals(Role.BUSINESSUNITMANAGER)){
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="managerDropdownMenu" href="">Manager</a>
                                    <div class="dropdown-menu">
                                        <a href="@routes.ManagerController.employeeOverview()" class="dropdown-item">Mijn Medewerker</a>
                                        <a href="#" class="dropdown-item">Studiekosten Formulier</a>
                                    </div>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.ApplicationController.contact()" >Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-1">
                        <li class="nav-item dropdown">
                        @if(isLoggedIn) {

                            <a class="nav-link dropdown-toggle" href="" id="loginDropdownMenu" ><em class="fa fa-user-circle fa-fw" aria-hidden="true"></em>Mijn account</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@routes.AccountController.profile()"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Profiel</a>
                                <a class="dropdown-item" href="@routes.TrainingController.personalOverview()"><i class="fa fa-table fa-fw" aria-hidden="true"></i> Mijn Trainingen</a>
                                @if(user.getRole.equals(Role.DOCENT)){
                                    <a class="dropdown-item" href="@routes.TrainingController.teacherTrainingOverview()"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Rooster</a>
                                }
                                <a class="dropdown-item" href="@routes.AccountController.logout()"> <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Uitloggen</a>
                            </div>
                        } else {
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.AccountController.register()" >Registreren</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.AccountController.login()" > <em class="fa fa-sign-in fa-fw" aria-hidden="true"></em>Inloggen</a>
                        </li>
                        }
                    </ul>
                </div>
            </nav>
            <div id="content">
            @content
            </div>

            <footer>
                <div class="row">
                    <div class="col-md-8">
                        <img class="footer-logo" alt="Info Support" src="@routes.Assets.at("images/infosupportlogo.png")">
                    </div>
                    <div class="col-md-3">
                        <p class="created">Created by Hats Off</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
