@import models.storage.User
@(title: String, isLoggedIn: Boolean, User: User, Message: String, PageToRedirect: String)

@shared.main(title, isLoggedIn, User) {
    <!--
        Use this page for single message pages that require a redirect.
        The parameter 'Message' is what is shown on the page.
        The parameter 'URL' is where you want to go after the message.
        The URL parameter follows the routes files convention. I.E:
        "/Contact" will redirect to the Contact view.
        "/account/register" will redirect to the Register view

    -->
    <head>
        <title>@title</title>


        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/message.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <meta http-equiv="Refresh" content="2; url=@routes.ApplicationController.customRedirect(PageToRedirect)">
    </head>

    <div class="container">

        <h1>@Message</h1>

        <p>je wordt automatisch doorverwezen...<br>
        Klik<a href="@routes.ApplicationController.customRedirect(PageToRedirect)"> hier</a>  als je niet doorverwezen wordt</p>
    </div>
}
