@(locations : List[Location], isLoggedIn: Boolean, User: User, Page: String)
@main(Page, isLoggedIn, User){

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/locationoverview.css")">
<div class="container">
    @if(!locations.isEmpty){
        <div class="row">
            <div class="col-lg-2"><h3>Stad</h3> </div>
            <div class="col-lg-3"><h3>Straatnaam</h3></div>
            <div class="col-lg-3"><h3>Huisnummer</h3></div>
            <div class="col-lg-2"><h3>Kamer</h3></div>
            <div class="col-lg-2"><h3>Capiciteit</h3></div>
        </div>

        @for(location <- locations) {
            <div class="row">
                <div class="col-lg-2">
                    <a href="@routes.LocationController.alterLocationForm(location.get_id())">
                        @location.getCity
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="@routes.LocationController.alterLocationForm(location.get_id())">
                        @location.getStreetName
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="@routes.LocationController.alterLocationForm(location.get_id())">
                        @location.getStreetNumber
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="@routes.LocationController.alterLocationForm(location.get_id())">
                        @location.getRoom
                    </a>
                </div>
                <div class="col-lg-1">
                    <a href="@routes.LocationController.alterLocationForm(location.get_id())">
                        @location.getCapacity
                    </a>
                </div>
            </div>

        }
    }   else{
        <p> Geen Locaties</p>
    }
</div>
}