@(locations : List[Location], isLoggedIn: Boolean, User: User, Page: String)
@main(Page, isLoggedIn, User){


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    @if(!locations.isEmpty){
        <th>Stad</th>
        <th>Straatnaam</th>
        <th>Huisnummer</th>
        <th>Kamer</th>
        <th>Capiciteit</th>
        @for(location <- locations) {
            <a href="@routes.LocationController.alterLocationForm(location.get_id())">
                <td>@location.getCity</td>
                <td>@location.getStreetName</td>
                <td>@location.getStreetNumber</td>
                <td>@location.getRoom</td>
                <td>@location.getCapacity</td>
            </a>
        }
    }   else{
        <p> Geen Locaties</p>
    }
</div>
}