@import b4.vertical.fieldConstructor
@import play.data.Form
@import models.storage.User
@import models.storage.Location
@(form: Form[Location], location: Location, isLoggedIn: Boolean, User: User, Page: String)
    @shared.main(Page, isLoggedIn, User) {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/smallPage.css")">

        <div class="container">
            <h1>Locatie Wijzigen</h1>
            <br>
            @b4.form(routes.LocationController.submitAlterLocation()) {
                @b4.text(form("_id"), 'class -> "form-control-inline", 'readonly -> "true", 'hidden -> "hidden", 'value -> location.getId())
                @b4.text(form("City"), '_label -> "Stad :", 'class -> "form-control-inline", 'value -> location.getCity)
                @b4.text(form("StreetName"), '_label -> "Straatnaam :", 'class -> "form-control-inline", 'value -> location.getStreetName)
                @b4.text(form("StreetNumber"), '_label -> "Huisnummer :", 'class -> "form-control-inline", 'value -> location.getStreetNumber)
                @b4.text(form("Room"), '_label -> "Kamer :", 'class -> "form-control-inline", 'value -> location.getRoom)
                @b4.text(form("Capacity"), '_label -> "Capiciteit :", 'class -> "form-control-inline", 'value -> location.getCapacity)
                <br>
                <div class="row">
                    <div class="col-lg-4">@b4.submit('class -> "btn btn-primary") { Wijzigen }</div>

                    <div class="col-lg-4">
                        <a href="@routes.LocationController.deleteLocation(location.getId())" class="btn btn-danger">
                            Verwijderen</a>
                    </div>
                </div>
                @helper.CSRF.formField
            }
        </div>
    }