@import models.storage.User
@import models.storage.DateTime
@(locations: List[DateTime], isLoggedIn: Boolean, User: User, Page: String)
    @shared.main(Page, isLoggedIn, User) {

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/locationoverview.css")">
        <div class="container">
            <p>Deze locatie word nog gebruikt op de volgende momenten:</p>

            @for(date <- locations) {
                <li>@date.getDateString</li>
            }

            <p>Om deze locatie te verwijderen moet je deze eerst loskoppelen van de bovenstaande momenten.</p>
            <a class="btn btn-default" href="@routes.LocationController.locationOverview()"> Terug naar overzicht</a>
        </div>
    }