@import b4.vertical.fieldConstructor
@import play.data.Form

@(form: Form[Location], isLoggedIn: Boolean, User: User, Page: String)

    @shared.main(Page, isLoggedIn, User) {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/smallPage.css")">
        <div class="container">
            <div class="row">
                <h1>Nieuwe Locatie</h1>
                <br>
            </div>
            @b4.form(routes.LocationController.createLocation()) {
                    <div class="row">@b4.text(form("City"), '_label -> "Stad :", 'class -> "form-control-inline", 'placeholder -> "Eindhoven")</div>
                    <div class="row">@b4.text(form("StreetName"), '_label -> "Straatnaam :", 'class -> "form-control-inline", 'placeholder -> "Rachelsmolen")</div>
                    <div class="row">@b4.text(form("StreetNumber"), '_label -> "Huisnummer :", 'class -> "form-control-inline", 'placeholder -> "1")</div>
                    <div class="row">@b4.text(form("Room"), '_label -> "Kamer :", 'class -> "form-control-inline", 'placeholder -> "2.18")</div>
                    <div class="row">@b4.number(form("Capacity"), '_label -> "Capiciteit :", 'class -> "form-control-inline", 'placeholder -> "25")</div>

                    <div class="row">
                        @b4.submit('class -> "btn btn-primary") { Toevoegen }
                        @helper.CSRF.formField
                    </div>
            }
        </div>
    }
