@import models.storage.User
@(page: String, isLoggedIn: Boolean, User: User)

@shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/smallPage.css")">
    <div class="container">
        <div class="row col-lg-12">
            <h1>Profiel wijzigen</h1>
        </div>
        <div class="row col-lg-12">
        @b4.form(routes.TrainingController.edit(training.getCategory().getName(), training.getTraining().getTrainingCode())) {
            @helper.CSRF.formField
                <div class="row col-lg-12">@b4.text(form("firstName"), '_label -> "Training code:", 'class -> "", 'placeholder -> "Voer trainingscode in")</div>
                <div class="row col-lg-12">@b4.text(form("lastName"), '_label -> "Naam:", 'class -> "", 'placeholder -> "Voer naam in")</div>
                <div class="row col-lg-12">@b4.textarea(form("company"), '_label -> "Beschrijving:", 'class -> "", 'placeholder -> "Voer beschrijving in")</div>
                <div class="row col-lg-12">@b4.text(form("phoneNumber"), '_label -> "Benodigde materialen:", 'class -> "", 'placeholder -> "Voer materialen in")</div>
                <div class="row col-lg-12">@b4.text(form("phoneNumber"), '_label -> "Benodigde materialen:", 'class -> "disabled", 'placeholder -> "Voer materialen in")</div>
                }
        <div class="row col-lg-12">
            <div class="col-lg-4">
                <a href="@routes.TrainingController.personalOverview()" class="btn btn-outline-success">Opslaan</a>
            </div>

            <div class="col-lg-4 offset-lg-4">
                <a href="@routes.AccountController.profile()" class="btn btn-outline-danger">Annuleren</a>
            </div>
        </div>
    </div>
    </div>
}