@import models.storage.User
@(page: String, isLoggedIn: Boolean, User: User, form: Form[User])
    @import b4.vertical.fieldConstructor

    @shared.main(page, isLoggedIn, User) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/smallPage.css")">
    <script>
            $( document ).ready(function () {
                $('#email').on('input', function() {
                    if($('#email').val() != "") {
                        $.post('/utility/emailCheck/' + $('#email').val(), function(data) {
                            if(data== "user_exists"){
                                console.log("User already exists");
                                disableControls(true);
                            }else{
                                console.log("User doesn't exists");
                                disableControls(false);
                            }
                        });
                    } else {
                        disableControls(false);
                    }
                });
                
                function disableControls(disable) {
                    $('.btn-default').prop("disabled",disable);
                    if(disable) {
                        $('#email_field').addClass('has-danger');
                        $('#validation_error_0').css("display", "block");
                    } else {
                        $('#email_field').removeClass('has-danger');
                        $('#validation_error_0').css("display", "none");
                    }
                }
            });
    </script>

    <div class="container">
            <h1>Registreren</h1>
            @b4.form(routes.AccountController.registerAccount) {
                    <div class="row">@b4.email(form("email"), '_label -> "Email", 'placeholder -> "example@example.com")</div>
                    <div style="display: none; color:#d9534f" id="validation_error_0" class="form-control-feedback ">Email is al in gebruik</div>
                    <div class="row">@b4.text(form("firstName"), '_label -> "Voornaam", 'placeholder -> "Jan")</div>
                    <div class="row">@b4.text(form("lastName"), '_label -> "Achternaam", 'placeholder -> "Janssen")</div>
                    <div class="row">@b4.number(form("phoneNumber"), '_label -> "Telefoon Nummer", 'placeholder -> "06131313")</div>
                    <div class="row">@b4.text(form("company"), '_label -> "Bedrijf", 'placeholder -> "Software BV")</div>
                    <div class="row">@b4.password(form("password"), '_label -> "Wachtwoord", 'required -> "required")</div>
                    <div class="row">@b4.password(form("validation"), '_label -> "Wachtwoord (herhaling)", 'required -> "required")</div>
                    <div class="row">@b4.submit('class -> "btn btn-default") { Registeren}</div>
            }
        </div>
    }