@(locations: List[models.Location])

@display(location:  models.Location) = {
    location.getRoom()
}
@main("Locaties"){
    <div>
        <h1>Locaties</h1>
        <div  class="formcontent">
            <lh>Locaties</lh>
            <table>
                <tr>
                    <th>City</th>
                    <th>Street</th>
                    <th>Streetnumber</th>
                    <th>Room</th>
                    <th>Capacity</th>
                </tr>
                    @if(!locations.isEmpty){
                        @for(location <- locations){
                            <tr>
                                <td>@location.getCity</td>
                                <td>@location.getStreet</td>
                                <td>@location.getStreetNumber</td>
                                <td>@location.getRoom</td>
                                <td>@location.getCapacity</td>
                            </tr>
                        }
                    } else {
                        <p>"Geen locaties beschikbaar"</p>
                    }
            </table>>
        </div>

}