@(page: String, isLoggedIn: Boolean, User: User, form : DynamicForm)
@import b3.vertical.fieldConstructor

@main(page, isLoggedIn, User) {

    <div class="container">
    @b3.form(routes.AccountController.authentication()){
        @helper.CSRF.formField
        <table>
            <tr><p>Email</p></tr>
            <tr>@b3.text(form("email"), 'label -> "Email", 'placeholder -> "Email Address")</tr>
            <tr><p>Password</p></tr>
            <tr>@b3.password(form("password"), 'label -> "Password", 'placeholder -> "Password")</tr>
            <tr>@b3.submit('class -> "btn btn-default") {Log in}</tr>
        </table>
    }
    </div>
}