@(title: String, isLoggedIn: Boolean, user: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <nav class="navbar">
            <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/infosupportlogo.png")" class="logo" alt="logo"></a>
            <ul>
                <li ><a href="" class="navitem dropdown-toggle">Training</a>
                    <ul>
                        <li><a href="@routes.TrainingController.overview()">Training Beheren</a></li>
                        <li><a href="@routes.TrainingController.overview()">Mijn Trainingen</a></li>
                        <li><a href="@routes.TrainingController.overview()">Inschrijven</a></li>
                        <li><a href="@routes.TrainingController.overview()">Aangeboden Trainingen</a></li>
                        <li><a href="@routes.TrainingController.addtraining()">Training Toevoegen</a></li>
                    </ul>
                </li>

                <li ><a href="" class="navitem dropdown-toggle">Manager</a>
                    <ul>
                        <li><a href="#">Mijn Medewerker</a></li>
                        <li><a href="#">StudieKosten Formulier</a></li>
                    </ul>
                </li>
                @if(isLoggedIn) {
                    <li><a href="@routes.AccountController.logout()" class="navitem">log out</a>
                    </li>
                } else{
                    <li ><a href="@routes.AccountController.login()" class="navitem dropdown-toggle">Log In</a>
                        <ul>
                            <li><a href="#">Registreren</a></li>
                            <li><a href="#">Aanmelden</a></li>
                        </ul>
                    </li>
                }
                <li ><a href="" class="navitem">Contact</a></li>
                @if(isLoggedIn){
                    <li><a href="@routes.AccountController.profile()">Profile<</a></li>
                }
            </ul>
        </nav>
        @content
    </body>
</html>
