@(trainings: List[models.Training], training : models.Training)

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/training.css")">

@main("Trainingen"){
    <div>
        <h1>Trainingen</h1>
        <table>
            <td>
        <div >
            <ul class="trainingmenu">
                <lh>Training</lh>
                @if(!trainings.isEmpty){
                    @for(training <- trainings){
                        <li ><a href="@routes.TrainingController.trainingOverview(training.getTrainingCode())"> @training.getName</a></li>
                        }
                } else {
                    <li>"No training yet"</li>
                }
           </ul>
        </div>
            </td>
            <td>
        <div class="trainingtext">
        @if(training != null){
            <h1>@training.getName()</h1>
            <p>@training.getDescription()</p>
        } else {
            <h1>Selecteer een training</h1>
            <p>Links in het menu kunt u trainingen selecteren.</p>
        }
        </div></td>
        </table>
    </div>
}