
<h1> Trainingen </h1>
    <div>
        <ul>
            <li><a href = "#">Architectuur</a></li>
            <li><a href = "#">Continuous Delivery</a></li>
            <li><a href = "#">Data Solutions</a></li>
            <li><a href = "#">Endeavour Ontwikkelstraat</a></li>
            <li><a href = "#">Java</a></li>
            <li><a href = "#">Linux</a></li>
            <li><a href = "#">Microsoft Cloud</a></li>
            <li><a href = "#">Microsoft CRM</a></li>
            <li><a href = "#">Microsoft Development</a></li>
            <li><a href = "#">Microsoft Infrastructuur</a></li>
            <li><a href = "#">Microsoft Operating Systems</a></li>
            <li><a href = "#">Microsoft SharePoint</a></li>
            <li><a href = "#">Microsoft SQL Server</a></li>
            <li><a href = "#">Mobile Development</a></li>
            <li><a href = "#">Oracle</a></li>
            <li><a href = "#">PRINCE2 & ITIL</a></li>
            <li><a href = "#">Project Metrics & Methods</a></li>
            <li><a href = "#">SAP End Users</a></li>
            <li><a href = "#">Security</a></li>
            <li><a href = "#">Testen</a></li>
            <li><a href = "#">Web Development</a></li>
        </ul>
    </div>